.tarjetas{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.tarjetas-children{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
font-family: roboto;
text-align: center;
}


